* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
/* .app {
    overflow: hidden;
} */
.header__primary {
    background-color: var(--main-color);
    display: flex;
    height: 50px;
    color: var(--white-color);
    font-size: 1.6rem;
    align-items: center;
    width: 100%;
}
.header__primary-content {
    display: flex;
    margin-left: 100px;
}
/* .header__primary-content:hover {
    color: var(--hover-color);
} */
.header-link:hover {
    color: var(--hover-color);
}
.header {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    height: 50px;
    color: var(--white-color);
    align-items: center;
    font-size: 2rem;
    width: 100%;
}
.header-link {
    text-decoration: none;
    margin: 0;
    color: var(--white-color);
}
.header__icon { 
    margin: 0 10px 5px 0;
}
/* .header__title {
    margin: 0;
} */
.header__title,
.header__icon:hover {
    cursor: pointer;
}
.container__title {
    display: flex;
}
.container__title-img {
    width: 20%;
}
.container__title-img {
    width: 319px;
    height: 180px;
}
.container__title-des {
    width: 60%;
    position: relative;
    top: 85px;
    left: -210px;
}
.container__title-des-head {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
    line-height: 2.6rem;
}
.container__title-des-head-icon {
    color: var(--main-color);
    margin-left: 20px;
    margin-top: 0;
    font-size: 5rem;
}
.container__title-des-head-icon:hover {
    color: var(--hover-color);
    cursor: pointer;
}
.container__title-des-foot {
    margin-top: 20px;
    position: absolute;
    left: 315px;
    font-size: 1.6rem;
}
.container__title-des-foot-link {
    text-decoration: none;
    color: var(--main-color);
}
.container__title-des-foot-link:hover {
    color: var(--hover-color);
}
.container__form {
    position: relative;
    left: 630px;;
    width: 450px;
    position: relative;
    left: 630px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
}

#footer__user,  
#footer__pass,.footer-btn {
    width: 300px;
    margin: 10px 0;
    padding: 0;
}

.container__form-check {
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 1.4rem;
    margin: 10px 0;
    padding: 0 19px;
}
.container__form-check input {
    cursor: pointer;
}
.footer-btn {
    height: 35px;
    border-radius: 20px;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
}
#footer__user,
#footer__pass {
    height: 45px;
    border-radius: 10px;
    background-color: #E8F0FE;
    border: none;
    padding: 0 20px;
}
.footer-btn:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}
.footer {
    background-color: var(--main-color);
    width: 100%;
    height: 80px;
    margin-top: 143px;
    text-align: center;
    position: relative;
    color: var(--white-color);
}
.footer_icon {
    font-size: 1.8rem;
    cursor: pointer;
    padding: 15px 0;
}
.footer_icon i {
    margin-right: 10px;
}
.footer__text {
    font-size: 1.4rem;
}
.footer_icon i:hover {
    color: var(--hover-color);
}
.container__form-control.error small {
    margin-left: 5px;
    font-size: 1.4rem;
    color: red;
    display: block;
}
.container__title {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.container__title-search {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container__title-search-input {
    width: 600px;
    height: 45px;
    border-radius: 30px;
    padding-left: 10px;
}
.container__title-search-btn {
    border-radius: 30px;
    outline: none;
    border: none;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 628px;
    background-color: var(--main-color);
}
.container__title-search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
}
.container__title-search-btn:hover {
    cursor: pointer;
    background-color: #E1E8EE;
}
.container__forgot-pass a {
    color: var(--main-color);
    font-size: 1.4rem;
    position: absolute;
    left: 820px;
}
.container__forgot-pass a:hover {
    color: var(--hover-color);
}

.cart__container {
    position: relative;
    width: 1300px;
    margin: 0 auto;
}
.cart__des {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #E1E8EE;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 2rem;
    align-items: center;
    padding: 0 40px;
}
.cart__info {
    background-color: var(--white-color);
    height: 50px;
    font-size: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding: 0 40px; */
    align-items: center;
    margin: 10px 0;
}
.cart__product {
    width: 95%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #ccc;
    color: black;
    font-size: 2rem;
    align-items: center;
    padding: 0 40px;
}
.cart__info span:nth-child(1) {
    margin-left: 40px;
}
.cart__info span:nth-child(2) {
    margin-left: 350px;
}
.cart__info span:last-child {
    margin-right: 40px;
}