body{
    margin: 0;
}
html {
    height: 100%;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.header_primary {
    background-color: var(--main-color);
    display: flex;
    height: 50px;
    color: var(--white-color);
    font-size: 1.6rem;
    align-items: center;
    width: 100%;
}
.header_primary-content {
    display: flex;
    margin-left: 100px;
}
.header_title,
.header_icon:hover {
    cursor: pointer;
}
.header-link:hover {
    color: var(--hover-color);
}
.header-link {
    text-decoration: none;
    margin: 0;
    color: var(--white-color);
}
.container_title {
    display: flex;
    padding-left: 110px;
    height: 200px;
}
.container_title-img {
    width: 340px;
    height: 140px;
}
.container_title-search {
    display: flex;
    width: 1046px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container_title-search-input {
    width: 650px;
    height: 45px;
    padding-left: 20px;
}
.container_title-search-btn {
    border: none;
    width: 95px;
    height: 45px;
    position: absolute;
    left: 865px;
    background-color: var(--main-color);
}
.container_title-search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
}
.container_title-search-btn:hover {
    cursor: pointer;
    background-color: #E1E8EE;
}
.container_forgot-pass a {
    color: var(--main-color);
    font-size: 1.4rem;
    position: absolute;
    left: 820px;
}
.grid-wide {
    max-width: 1300px;
    margin: 0 auto;
}
.home_menu {
    height: 75px;
    background-color: var(--menu-color);
    border-radius: 20px;
}
.home_menu-list{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
    height: 100%;
}
.home_menu-item {
    font-size: 2rem;
    display: block;
}
.home_menu-item a {
    text-decoration: none;
    color: black;
}
.home_menu-item a:hover {
    color: var(--hover-color);
}
.footer {
    font-size: 15px;
    background-color: var(--main-color);
    width: 100%;
    height: 40px;
    text-align: center;
    color: var(--white-color);
    position: absolute;
    bottom: 0px;
}


